/* Colours */

.nav-bg-col {
   background-color:#acbcbf ;
}

body {
    background-color: #5b65a4;
}

.main-bg-col { 
    background-color: #f4fcfb;
}

.button-colour {
    background-color: #5289ad;
    color: #f4fcfb;
    border: 15px 15px 0px 0px;
    border-radius: 25px;
    padding: 20px;


}

/* embedded map size adjustment */
.map-embed {
  max-width: 600px;   /* adjust */
  width: 100%;
  margin: 0 auto;
}
.map-embed iframe {
  width: 100%;
  height: 320px;      /* adjust */
  border: 0;
}

/* title image */
.img-wrapper {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 50%;
}

/* button */
.btn-location{
    position: absolute;
    bottom:5%;
    left: 5%;

}


/* Fonts */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4a4a4f;
}

.red-o {
    color: #e84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #f9fafc;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    left:5%;
    background-color: #5289ad;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #e84610;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23bbbb;
}

.link {
    color: #23bbbb;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #e84610;
}

.btn-like:hover,
.btn-like:active {
    color: #e84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}
